<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744590556530-iamip0oab4opam0v04bmtouakqre0u56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744590556530-iamip0oab4opam0v04bmtouakqre0u56</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>744590556530-6ept7b4ju2rvb07v0pmniathc2fvqtpg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_-6OXfuZIsDxqlPF5zISoKLGiDn24Wnk</string>
	<key>GCM_SENDER_ID</key>
	<string>744590556530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alled.babyzone</string>
	<key>PROJECT_ID</key>
	<string>babyzone-ab514</string>
	<key>STORAGE_BUCKET</key>
	<string>babyzone-ab514.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744590556530:ios:7721c38c4100a42a3131eb</string>
</dict>
</plist>